<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.SetmealDishMapper">

    <!--根据菜品id查询对应套餐id-->
    <select id="getSetmealIdsByDishIds" resultType="java.lang.Long">
        <!--SELECT setmeal_id FROM setmeal_dish WHERE dish_id IN (1,2,3)-->
        SELECT setmeal_id FROM setmeal_dish WHERE dish_id IN
        <foreach collection="dishIds" item="dishId" separator="," open="(" close=")">
            #{dishId}
        </foreach>
    </select>

    <!--批量保存套餐和菜品的关联关系-->
    <insert id="insertBatch" parameterType="list">
        INSERT INTO setmeal_dish (setmeal_id, dish_id, name, price, copies)
        VALUES
            <foreach collection="setmealDishes" item="sd" separator=",">
                (#{sd.setmealId},#{sd.dishId},#{sd.name},#{sd.price}, #{sd.copies})
            </foreach>
    </insert>

    <!--根据setmeal_id数组批量删除套餐和菜品的关联关系-->
    <delete id="deleteBySetmealIds" parameterType="list">
        DELETE FROM setmeal_dish WHERE setmeal_id IN
        <foreach collection="setmealIds" item="setmealId" separator="," open="(" close=")">
            #{setmealId}
        </foreach>
    </delete>
</mapper>